{% extends 'base.html' %}
{% load static %}

{% block title %}Web上にあなたの鉄道の旅を記録できるサービス | Train Trip Track{% endblock %}

{% block header %}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">Train Trip Track</h1>
            <h2 class="masthead-subheading mb-0">あなた専用の鉄道乗車記録保存サービス</h2>
            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">LOG IN</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block style %}
<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

<!-- Leaflet.Locate -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.css" />
<style>
  #map {
    height: 700px;
  }
</style>
{% endblock %}

{% block contents %}

<div class="container mt-3">

    <div id="map"></div>
  
    
</div>

{% endblock %}

{% block script %}
<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
  integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<!-- Leaflet.Locate -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.79.0/dist/L.Control.Locate.min.js"
  charset="utf-8"></script>
<script>
  var map = L.map('map').setView([36, 137.59], 5);
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  let geojsonMarkerOptions = {
    radius: 4,
    fillColor: "#00ffff",
    color: "#00f",
    weight: 1,
    opacity: 1,
    fillOpacity: 0.8
  };
  
  L.control.locate().addTo(map);
  const urls = [
    '{% static "geojson/全国の駅_2.geojson" %}',
  ];
  urls.forEach((url) => {
    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        L.geoJson(data, {
          pointToLayer: function (feature,cordinate) {
          return L.circleMarker(cordinate,geojsonMarkerOptions)},
          onEachFeature: (feature, layer) => {
            layer.bindPopup(feature.properties.station_name);
          }
        }).addTo(map);
      });
  });
</script>
{% endblock %}
